
.jumbotron{
	margin: 0;
	background-image: url('img/wallpaper2.jpg');
	color: black;
}

.button-edit{
	background: #0D72D6;
	color: white;
}

.AsignaturasOP {
	padding-top: 20px;
	margin-top: 30px; 
}

.menup{
	margin-bottom:0;
}

